data/pipeline/Incremental_load.json
{
	"name": "Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',variables('sch'),'.',variables('pipeline'),' where tablename = ','''',variables('sourcetablename'),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_param",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "delta_controltable",
							"schemaname": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "azure_sql_param",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@split(item().names,'.')[1]",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@split(item().names,'.')[0]",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_mysql_parameter",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@activity('Lookup2').output.value",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat('select * from ',\n        activity('Lookup1').output.firstRow.tablename,' where lastmodifieddatetime >=','''',\nactivity('Lookup1').output.firstRow.highwatermark,'''')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_mysql_parameter",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@activity('Lookup1').output.firstRow.tablename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parameter",
						"type": "DatasetReference",
						"parameters": {
							"foldername": "emp",
							"filename": "emp_delta1.txt"
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Lookup1').output.count, 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "abc",
								"value": "1"
							}
						}
					]
				}
			},
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('update dbo.delta_controltable',' set highwatermark =','''',pipeline().TriggerTime,'''' )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_param",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "a",
							"schemaname": "b"
						}
					}
				}
			}
		],
		"variables": {
			"sch": {
				"type": "String",
				"defaultValue": "dbo"
			},
			"pipeline": {
				"type": "String",
				"defaultValue": "delta_controltable"
			},
			"sourcetablename": {
				"type": "String",
				"defaultValue": "ecomdb.customers"
			},
			"abc": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-10T18:32:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}