data/pipeline/okfile.json
{
	"name": "okfile",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name, '.txt')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Lookup2",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"dataset": {
												"referenceName": "ds_adls_parameter",
												"type": "DatasetReference",
												"parameters": {
													"foldername": "emp",
													"filename": "emp.txt"
												}
											},
											"firstRowOnly": false
										}
									}
								]
							}
						},
						{
							"name": "If Condition2_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name, '.ok')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Lookup1",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "emp",
													"wildcardFileName": "*.ok",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"dataset": {
												"referenceName": "ds_adls_parameter",
												"type": "DatasetReference",
												"parameters": {
													"foldername": "emp",
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"okfileexist": {
				"type": "Boolean"
			},
			"okfilecount": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-10T18:32:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}